#100MHz CLK INPUT
NET "CLK" LOC = "V10";
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

net "Display(0)" loc= "N16";
net "Display(1)" loc= "N15";
net "Display(2)" loc= "P18";
net "Display(3)" loc= "P17";

net "segmentos(0)" loc= "T17";
net "segmentos(1)" loc= "T18";
net "segmentos(2)" loc= "U17";
net "segmentos(3)" loc= "U18";
net "segmentos(4)" loc= "M14";
net "segmentos(5)" loc= "N14";
net "segmentos(6)" loc= "L14";
net "segmentos(7)" loc= "M13";
